* {
  font-family: 'Italiana', sans-serif;
  box-sizing: border-box;
}

.background {
  align-items: center;
  text-align: center;
  background-image: url('./assets/leafbackground.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}



/* ---------- Game Board ---------- */

.title {
  font-size: 60px;
  margin-top: 60px;
  color: white;
  font-size: 100px;
}

.turn {
  color: white;
  font-size: 30px;
  margin-top: -10px;
}

/* .square {
  border: 2px solid white;
  height: 200px;
  width: 200px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-weight: bold;

}

.board {
  margin-top: 5%;
  margin: auto;
  width: 600px;
  height: 600px;
  border: 2px solid none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
} */

.game-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.board {
  width: 80%;
  max-width: 600px; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}


.square {
  border: 2px solid white;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-weight: bold;
}

.square:nth-child(3n + 1) {
  border-left: none;
}

.square:nth-child(3n + 3) {
  border-right: none;
}

.square:nth-child(-n + 3) {
  border-top: none;
}

.square:nth-last-child(-n + 3) {
  border-bottom: none;
} 

.button {
  border: 2px solid white;
  border-left: none;
  border-right: none;
  height: 50px;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: auto;
  color: white;
  transition: 2s ease;
  outline: none;
}

.button:hover{
  border: 2px solid white;
  border-left: none;
  border-right: none;
  height: 50px;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: auto;
  color: white;
  background-color: #C19A6B;
  letter-spacing: 10px;
  outline: none;
} 

@media screen and (min-width: 1280px) {
  .game-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .board {
    margin: 0;
    grid-gap: 0;
    border: 2px solid none; 
    width: 30%; 
  }

  .square {
    width: 10vw; 
    height: 10vw;
    gap: 0; 
  }

  .title {
    font-size: 7vw;
    margin-top: 10px;
  }
} 

@media screen and (max-width: 768px) {
  .game-container {
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .board {
    margin: 0;
    grid-gap: 0;
  }

  .square {
    width: 30vw; 
    height: 30vw; 
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 15vw;
  }

  .square {
    width: 25vw; 
    height: 25vw; 
    font-size: 16vw;
  }
}

/* ---------- Modal ---------- */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh; 
  font-size: 25px;;
}

.modal-title {
  text-align: center;
  margin: auto;
  font-size: 40px;
}
.modal-center {
  text-align: center; 
  margin: auto;
}

.modal-content {
  background-color: white; 
}

.modal-button {
  font-size: 20px;
  background-color: white;
  width: 80px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  transition: 2s ease;
}

.modal-button:hover {
  background-color: #C19A6B;
  color: black;
  letter-spacing: 10px;
  outline: none;
}
/* ---------- Intro Page ---------- */

.intro-container {
  margin: auto;
  border: 3px solid none;
  width: 80%; 
  height: 80vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-header {
  font-size: 3rem; 
  margin-bottom: 10px; 
}

.intro-body {
  font-size: 2rem; 
  margin-bottom: 10px; 
}

.intro-button {
  width: 150px;
  height: 30px;
  margin-top: 10px; 
  border-right: none;
  border-left: none;
  background-color: transparent;
  transition: letter-spacing 2s ease;
  font-size: 20px;
  color: black;
}

.intro-button:hover {
  background-color: #C19A6B;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  text-align: center;
  outline: none;
}

.input-box{ 
  width: 30vw;
  height: 50px; 
  text-align: center;
  font-size: 25px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

@media screen and (min-width: 1280px) {
  .intro-container {
    border: 2px solid none;
  }
  .intro-header {
    font-size: 3vw;
  }

  .intro-body {
    font-size: 1.5vw;
    border: 2px solid none;
  }

  .input-box {
    width: 100%;
    border: 1px solid none;
  }
}

@media screen and (max-width: 480px) {
  .intro-header {
    font-size: 10vw;
  }

  .intro-body {
    font-size: 5vw;
  }
}

/* ---------- Marker Page ---------- */

.marker-container {
  margin: auto;
  border: 3px solid none;
  width: 80%; 
  height: 80vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.marker-header {
  font-size: 4rem; 
  margin-bottom: 10px; 
}

.marker-body {
  font-size: 1.5rem;
}

.marker-options {
  color: black;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.marker-button {
  width: 150px;
  height: 30px;
  /* margin-top: 30px;  */
  border-right: none;
  border-left: none;
  background-color: transparent;
  transition: 2s ease;
  font-size: 20px;
  outline: none;
  color: black;
}

.marker-button:hover {
  background-color: #C19A6B;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  text-align: center;
  outline: none;
}

.marker-select {
  height: 100px;
  width: 100px;
  font-size: 50px;
  background-color: transparent;
  border: none;
  margin-right: 20px;
  transition: background-color 0.8s ease, border 0.8s ease;
  outline: none;
  /* margin-bottom: 25px; */
  color: black;
}

.marker-select:hover,
.marker-select.selected {
  background-color: #C19A6B;
  /* border: 1px solid black; */
  outline: none;
  color: white;
}

.marker-select:last-child {
  margin-right: -10px;
}

.marker-image {
  height: 90px;
  width: 90px;
}


@media screen and (max-width: 480px) {
  .marker-header {
    font-size: 10vw;
    margin-top: 100px;
  }

  .marker-body {
    font-size: 5vw;
  }

  .marker-select {
    height: 75px;
    width: 75px;
  }
}

@media screen and (min-width: 1280px) {
  .marker-header {
    font-size: 3vw;
  }

  .marker-body {
    font-size: 1.5vw;
    border: 2px solid none;
  }
}

/* ---------- Footer ---------- */

.footer {
  position: fixed;
  bottom: 0;
  background-color: #C19A6B;
  width: 100%;
  text-align: center;
  color: white;
}

/* ---------- in process cursor ---------- */

body {
  cursor: url('./assets/flower.png') 16 16, auto;
}